@mixin _font {
  @font-face {
    font-family: "JosefinSans";
    src: url("~/assets/fonts/JosefinSans-SemiBold.ttf");
  }

  * {
    font-family: "JosefinSans", "google-sans", Quicksand, Quicksand, Noto Sans TC, -apple-system, "NotoSansTC-Medium", BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans TC, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  }
}
