@use "tailwindcss";
@use "@nuxt/ui";
@use "fonts.scss";

@include fonts.custom_font;

html,
body,
#app {
  height: 100vh;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #222;
  color: white;
}
